/* Reusable Component - Button */

.button {
  border-radius: 30px;
  background-color: #119292;
  text-align: center;
  color: white;
  transition: .25s;
  margin-top: 15px;
}

.button:hover {

  background-color: #119292;
  font-style: oblique;
}

/* Text Banner (#c72c05)--*/
.banner {
  font-size: 18px;
  font-stretch: extra-condensed;
  text-transform: uppercase;
  color: mintcream;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 1px;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
    div.banner {
    font-size: 45% !important;
    }
}

/* Hover,active,visited links */

a {
  text-decoration: none;
  transition: .3s;
  font-size: 17px;
  line-height: 23px;
}

a:hover {
  font-style: oblique;
}
a:active {
  color: hsla(0, 0%, 29%, 1);
}
a:visited {
  color: CornflowerBlue ;
}

b {
  color: #119292;
  font-weight: 700;
}

b:hover {
  color: slategrey;
  font-style: oblique;
}
b:active {
  color: hsla(0, 0%, 29%, 1);
}
b:visited {
  color: CornflowerBlue ;
}

c {
  color: white;
  font-weight: 700;
}

c:hover {
  color: white;
  font-style: oblique;
}
c:active {
  color: White;
}
c:visited {
  color: white;
}
